#main{
    width:100vw;
    height: 100vh;
}
.box {
}

.scrollbox{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 1rem;
}

.ind-timebox{
    height:0.8rem;
    background-color: #fff;
    line-height: 0.8rem;
}
.ind-banner{
    height:3.8rem;
    width:100%;
}
.ind-banner .swiper-slide{
    height:3.8rem;
    width:100%;
}
.time-logo{
    background: url("img/logo7.png") no-repeat left;
    background-size: 0.21rem 0.21rem;
    padding-left: 0.34rem;
    font-size: 0.26rem;
    color: #e0344d;
    margin-right: 0.16rem;
}
.time-daojis{
    font-size: 0.28rem;
    color: #333;
}
.time-daojis span.hour,.time-daojis span.mini,.time-daojis span.sec{
    background-color: #333;
    border-radius: 0.08rem;
    color: #fff;
    padding:0.03rem 0.07rem;
    font-size: 0.26rem;
}
.time-b{
    display: inline-block;
}
.ind-timebox{
    text-align: center;
}
.ind-pro-cont{
    width:100%;
}
.faqi{
    height:0.98rem;
    line-height: 0.98rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    position: absolute;
    bottom:0;
    left:0;
    background-color: #e0344d;
    display: block;
    width:100%;
}
.faqi2{
    height:0.98rem;
    line-height: 0.98rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    position: absolute;
    bottom:0;
    left:0;
    background-color: #eee;
    display: block;
    width:100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #e0344d;
}
.ind-pro-cont img{
    width:7.5rem;
}