<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="content-language" content="zh-CN">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content>
    <meta name="description" content>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http:/www.bocweb.cn">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/Html/public/css/reset.css">
    <link rel="stylesheet" href="/Html/public/css/main.css">
    <link rel="stylesheet" href="/Html/public/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/css/common-nav.css">
    <link rel="stylesheet" href="/Html/css/share.css">
    <script type="text/javascript" src="/Html/public/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/Html/public/js/main.js"></script>
    <script type="text/javascript" src="/Html/public/js/vue.js"></script>
    <script type="text/javascript" src="/Html/public/js/swiper.min.js"></script>
    <title>时间工坊</title>
</head>
<body style="background-color: #f4f4f4">
<div id="main">
    <div class="scrollbox">
        <div class="swiper-container ind-banner">
            <ul class="swiper-wrapper">
                <li class="swiper-slide" :style="{backgroundImage: 'url('+banners.RelativePath+')'}" v-for="banners in info.Activity.CoverImage" ></li>
            </ul>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination">
            </div>
        </div>
        <div class="content">
            <div class="clearfix cont-top">
                <div class="fl cont-top-tit">{{info.Activity.Title}}</div>
                <span class="fr cont-top-btn" v-if="info.Activity.Status==2">正在进行</span>
                <span class="fr cont-top-btn" v-if="info.Activity.Status==3">已结束</span>
            </div>
            <div class="cont-id clearfix">
                <div class="cont-id-img fl" :style="{backgroundImage:'url('+info.Member.Avatar.RelativePath+')'}"></div>
                <div class="cont-id-name">{{info.Member.NickName}}</div>
            </div>
            <div class="ind-timebox clearfix">
                <div class="clearfix time-b time-left fl">
                    <div>
                        <span class="day">00</span>天
                        <span class="hour">00</span>小时
                        <span class="mini">00</span>分
                        <span class="sec">00</span>秒
                    </div>
                    <span class="time-left-timelive">剩余时间</span>
                </div>
                <span class="fl shuxian" style=""></span>
                <div class="fr time-right">
                    <div class="time-r-num">{{info.Activity.ApplyNum}}<span class="time-r-num-wz">人</span></div>
                    <span class="time-left-timelive">支持人数</span>
                </div>
            </div>
        </div>
        <div class="join-box">
            <span class="join-box-tit">参与者：</span>
            <ul class="join-peo clearfix" v-for="attendnum in info.AttendMember">
                <li :style="{backgroundImage:'url('+attendnum.Avater.RelativePath+')'}"></li>
                <li class="join-tox"></li>
            </ul>
        </div>
        <div class="ind-pro-cont">{{{info.Activity.Description}}}</div>
    </div>
    <div class="clearfix btn-box">
        <a class="zhongc fl" href="javascript:;">帮他众筹</a>
        <a class="faqi fl" href="javascript:;">我要发起</a>
    </div>
    <!--<div class="new-loading">-->
        <!--<ul class="small-loading">-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
<script type="text/javascript" src="/Html/mjs/share.js"></script>
</body>
</html>